body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #dbd6d6;
  }
  
  header {
	background-color: #597da3;
	color: #ebe6e6;
	text-align: center;
	padding: 2rem;
  }
  
  header h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
  }
  
  main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
  }
  
  section {
	text-align: center;
	margin-bottom: 2rem;
	background-color: #f1eaea;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
  }
  
  p {
	font-size: 1.2rem;
	color: rgb(28, 26, 26);
	margin-bottom: 1.5rem;
  }
  
  input {
	padding: 0.5rem;
	font-size: 1.2rem;
	border: 1px solid #941e1e;
	border-radius: 4px;
  }
  
  #buttons {
	display: flex;
  }
  
  button {
	display: inline-block;
	background-color: #4f7faf;
	color: hsl(0, 9%, 91%);
	padding: 0.8rem 1.5rem;
	border-radius: 4px;
	text-decoration: none;
	font-size: 1.2rem;
	transition: background-color 0.3s ease;
	margin-right: 10px;
  }
  
  button:disabled {
	background-color: #ffffff;
	cursor: not-allowed;
  }
  
  button:hover {
	background-color: #a0426d;
  }
  
  #search-steps {
	margin-top: 2rem;
	text-align: center;
  }
  
  .search-item {
	display: inline-block;
	background-color: #35608c;
	color: #fff;
	padding: 10px;
	border-radius: 4px;
	margin: 5px;
	font-size: 1.2rem;
  }
  .visualization {
    position: relative;
	bottom: 10px;
  }